.products {
  position: relative;

  &-header {
    display: flex;
    margin: 4em;
    padding: 2rem 4rem;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.product-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #e2e6e3;
  padding: 25px;
  grid-gap: 5rem;

  @include breakpoint(desktop-up) {
    padding: 25px;
    background-color: #e2e6e3;
    grid-template-columns: 1fr 1fr 1fr;

    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.product-item {
  text-align: center;
  margin-bottom: 5rem;
  flex: 0 0 33.33%;

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    max-height: 10rem;
    & img {
      width: 100%;
      padding: 0 15px;
      max-height: 100px;
      object-fit: contain;
      @include breakpoint(desktop-up) {
        max-height: 180px;
      }
    }
  }
  &__title {
    margin-bottom: 1rem;
  }
  &__price {
    margin-bottom: 1rem;
  }
  &__button {
    display: flex;
    justify-content: center;
  }
}
