.cart {
  position: fixed;
  top: 0;
  background-color: #f2f2ef;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: auto;
  max-width: 550px;
  width: 100%;
  z-index: 10;
  transition: opacity 0.4s ease-in-out 0.1s;

  opacity: 0;
  left: auto;
  right: 0;
  transform: translateX(100%);
}

.open {
  transition: opacity 0.4s ease-in-out 0.1s;
  transform: translateX(0);
  opacity: 1;
}
