$color: (
  text: #2b2e2b,
  btn: #4b5548,
  cart: #f2f2ef,
  white: #fff,
  input: #4b5548,
  border: #cdd1ce,
  accent: #e2e6e3,
);

//map through the colors

@function color($colorName) {
  @return map-get($map: $color, $key: $colorName);
}
