.title {
  letter-spacing: 0px;
  font-family: freight-display-pro, serif;
  text-transform: none;
  color: #2b2e2b;
  margin-bottom: 2rem;
}

.text {
  font-size: 1rem;
  letter-spacing: 0.03px;
  text-transform: none;
  color: #2b2e2b;
  margin-bottom: 36px;

  @include breakpoint(tablet-portrait-up) {
    font-size: 2rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  opacity: 0.7;
  background-color: #f2f2ef;
  height: 100%;
  overflow-x: auto;
  width: 100%;
  z-index: 10;
  transition: opacity 0.4s ease-in-out 0.1s;
}
