// HELPERS
@import "./colors";
@import "./breakpoint";
@import "./common";
@import "./cart";

//PAGES
@import "./products/products";

// COMPONENTS
@import "./button";

//resets
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  outline: none;
}
select {
  outline: none;
  width: 100%;
  border: 1px solid color(border);
  background-color: transparent;
  padding: 1rem 8rem 1rem 1rem;
  font-size: 13px;
  color: #4b5548;
}
